<section class="section">
  <h2>Medals per country</h2>

  <ng-template>
    <div class="legend-container">
      <div class="legend-element">
        <h2>Number of JOs</h2>
        <span>{{ joTotal }}</span>
      </div>
      <div class="legend-element">
        <h2>Number of countries</h2>
        <span>{{ countriesTotal }}</span>
      </div>
    </div>

    <ngx-charts-pie-chart
      class="home-pie-chart"
      [results]="chartData"
      [labels]="showLabels"
      (select)="onSelect($event)"
      >
    </ngx-charts-pie-chart>
  </ng-template>
</section>
